<!-- biolerplate code will be added by using this below line -->
<% layout("/layouts/biolerplate") %>

<body>
</form>
<ul>
<h3>All listings:</h3>
<!-- <form action="/listings/new" method="GET"> 
    <button>Create New Listings</button></BR>
</form> -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 rows-xs-1">
    <% for(let listings of allListings){ %>

        <a href="/listings/<%= listings._id %>" class="listing-link"> <div class="card col" > 
            <img src="<%=listings.image%>"  class="card-img-top" alt="Listing_image" style="height: 20rem;" >
            <div class="card-img-overlay ">&#8377 <%=listings.price%></div>
            <div class="card-body">
              <p class="card-text"><b> <%=listings.title%></b></p>
              <br>
                <b>Price:</b>&#8377 <%=listings.price.toLocaleString("en-IN")%>/night</p>
              <!-- <a href="/listings/<%= listings._id %>" class="btn btn-primary">Go somewhere</a> -->
            </div>
      
        </div>   
     <%}%>
    </a>
       
     
</div>


</body>