<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>listings Details :</h3>
    <ul>
      <li><%=data.title%></li>
      <li><%= data.description %></li>
      <!-- locale is used to put commas in price (price commas)-> determined acc to region as IN is for India -->
      <li> &#8377;<%= data.price.toLocaleString("en-IN") %></li>
      <li><%=data.location%></li>
      <li><%=data.country%></li>
    </ul>
    <a href="/listings/<%=data._id%>/edit">Edit...</a>
    <form method="POST" action="/listings/<%=data._id%>?_method=DELETE">
     <br> <button>Delete this Listing</button>
    </form>
   
  </body> 
</html>
